.c-hero {
  @apply text-center mb-20;
}

.c-hero-title {
  @apply text-6xl md:text-[100px] font-bold tracking-tighter leading-[0.9] mb-12;

  .c-hero-subtitle {
    @apply opacity-40
  }
}

.c-hero-description {
  @apply text-lg md:text-xl opacity-50 max-w-2xl mx-auto leading-relaxed mb-5;
}

.c-hero-description-2 {
  @apply text-lg md:text-xl opacity-50 max-w-2xl mx-auto leading-relaxed mb-12;
}

.c-hero-availability {
  @apply inline-flex
  items-center
  gap-2
  px-4
  py-4
  rounded-full
  border-2

  text-sm
  font-semibold
  tracking-widest
  uppercase mb-8

  dark:border-blue-500/40
  border-blue-900/40
  dark:bg-blue-500/10
  bg-blue-800/10
  dark:text-blue-500
  text-blue-800;

  .c-hero-pin {
    @apply relative flex h-3 w-3;

    .c-hero-pin-effect {
      @apply animate-ping absolute inline-flex h-full w-full rounded-full dark:bg-blue-500 bg-blue-800 opacity-75 ;
    }

    .c-hero-bullet {
      @apply relative inline-flex rounded-full h-3 w-3 dark:bg-blue-500 bg-blue-800;
    }
  }
}

.c-hero-button-container {

  @apply flex flex-col items-center justify-center gap-6;

  .c-hero-button-cv {
    @apply
    w-2/4
    sm:hidden

    px-10 py-5
    rounded-2xl
    font-semibold
    text-lg
    transition-all

    active:scale-95
    dark:hover:bg-gray-400
    hover:bg-gray-700
    bg-black
    dark:bg-white

    text-slate-200
    dark:text-slate-900

    shadow-gray-900/10
    dark:shadow-gray-300/10
    shadow-lg
  }

  .c-hero-button-contact {
    @apply
    sm:w-auto
    w-2/4
    px-10 py-5
    rounded-2xl
    font-semibold
    text-lg
    transition-all

    active:scale-95
    dark:hover:bg-gray-400
    hover:bg-gray-700
    bg-black
    dark:bg-white

    text-slate-200
    dark:text-slate-900

    shadow-gray-900/10
    dark:shadow-gray-300/10
    shadow-lg

    ;
  }
}

.c-hero-photo {
  @apply relative inline-block;

  .c-hero-photo-glow {
    @apply absolute
    inset-0
    rounded-full
    bg-blue-500
    blur-2xl
    opacity-20
    transition-opacity
    duration-500;
  }

  .c-hero-photo-pulse {
    @apply absolute
    inset-0
    rounded-full
    border-2
    border-blue-500/50
    animate-[ping_3s_infinite];
  }

  .c-hero-photo-container {
    @apply relative
    w-56
    h-56
    bg-white
    rounded-full
    p-0.5
    border
    border-gray-100
    shadow-inner
    overflow-hidden;

    img {
      @apply w-full
      h-full
      object-cover
      rounded-full
      transition-transform
      duration-500
      bg-black/95;
    }
  }

  &:hover {

    @apply cursor-pointer;

    .c-hero-photo-glow {
      @apply opacity-40!;
    }
    .c-hero-photo-pulse {
      @apply animate-none! opacity-0!;
    }

    .c-hero-photo-container {
      @apply  scale-110! transition duration-700 ease-in-out;
    }
  }

  &:active {
    .c-hero-photo-glow {
      @apply opacity-0!;
    }
    .c-hero-photo-pulse {
      @apply animate-none! opacity-0!;
    }

    .c-hero-photo-container {
      @apply blur-xs grayscale-50 rotate-5 transition;
    }
  }
}


