.c-links {
  @apply
  py-10
  border-t
  border-slate-200
  dark:border-white/5
  text-xs
  uppercase
  tracking-[0.3em]
  mt-10;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;

  .c-links-container {
    @apply flex flex-col gap-6 items-center justify-center;
  }

  .c-links-content-container {
    @apply flex items-center justify-center gap-20 w-full;
  }

  .c-links-name-container {
    @apply flex items-center justify-center active:scale-110 active:opacity-60 cursor-pointer transition;
  }

  .c-links-name {


    h1 {
      @apply text-xl opacity-95 text-center cursor-pointer;
    }

    h2 {
      @apply text-sm opacity-60 text-center cursor-pointer;
    }
  }


  .c-links-links-container {
    @apply flex justify-center space-x-6;
  }

  .c-links-link {
    @apply hover:text-blue-500 active:scale-110 opacity-60 transition;
  }

  .c-links-copy {
    @apply opacity-60;
  }


}
