<section class="c-contact">
  <div class="c-contact-card bento-card ">
      <div class="c-contact-card-form-blur"></div>
      <div class="c-contact-card-container">
        <div class="c-contact-card-content">
          <h2 class="c-contact-card-content-title">Hablemos de <br> proyectos.</h2>
          <p class="c-contact-card-content-description">Actualmente disponible para nuevos proyectos y colaboraciones. Si necesitas mis servicios, estaré encantado de ayudarte.</p>

          <div class="c-contact-card-content-email">
              <div class="c-contact-card-content-email-icon">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                  </svg>
              </div>
              <span class="c-contact-card-content-email-text">cesarhuesca.dev@gmail.com</span>
          </div>
        </div>
        <div>
          <form class="c-contact-card-form">
            <div class="c-contact-card-form-inputs-container">
                <input type="text" placeholder="Nombre" class="c-contact-card-form-input">
                <input type="email" placeholder="Email" class="c-contact-card-form-input">
            </div>
            <textarea placeholder="Mensaje" class="c-contact-card-form-textarea"></textarea>
            <button class="c-contact-card-form-button">Enviar mensaje</button>
          </form>
        </div>
      </div>
  </div>
</section>
