<section class="c-contact">
  <div class="c-contact-card bento-card ">
      <div class="c-contact-card-form-blur"></div>
      <div class="c-contact-card-container">
        <div class="c-contact-card-content">
          <h2 class="c-contact-card-content-title">{{'contact.talk-1' | translate}} <br> {{'contact.talk-2' | translate}}.</h2>
          <p class="c-contact-card-content-description">{{'contact.description' | translate}}.</p>

          <div class="c-contact-card-content-email">
              <div class="c-contact-card-content-email-icon">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                  </svg>
              </div>
              <span class="c-contact-card-content-email-text">{{'contact.email' | translate}}</span>
          </div>
        </div>
        <div>
          <form class="c-contact-card-form">
            <div class="c-contact-card-form-inputs-container">
                <input type="text" placeholder="{{'contact.placeholder-name' | translate}}" class="c-contact-card-form-input">
                <input type="email" placeholder="{{'contact.placeholder-email' | translate}}" class="c-contact-card-form-input">
            </div>
            <textarea placeholder="{{'contact.placeholder-message' | translate}}" class="c-contact-card-form-textarea"></textarea>
            <button class="c-contact-card-form-button">{{'contact.send' | translate}}</button>
          </form>
        </div>
      </div>
  </div>
</section>
