<nav class="c-navbar">
    <div class="c-navbar-container glass-premium">
        <div class="c-navbar-links-container">
            <span class="c-navbar-link-title">Cesar Huesca</span>

            <!--TODO REVISAR ESTAS CLASES-->
            <div class="c-navbar-link-buttons-container">
                <button class="c-navbar-link">Proyectos</button>
                <button class="c-navbar-link">Skills</button>
                <button class="c-navbar-link">Contacto</button>
            </div>
        </div>
        <div class="c-navbar-buttons-container">
            <button (click)="toggleDarkMode()" class="c-navbar-button-theme ">
              @if (this.darkMode()) {
                <svg  class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
                </svg>
              } @else {
                <svg  class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364-6.364l-.707.707M6.343 17.657l-.707.707m12.728 0l-.707-.707M6.343 6.343l-.707-.707M14 12a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
              }
            </button>
            <div class="c-navbar-buttons-separator"></div>
            <button class="c-navbar-button-cv">Descargar CV</button>
        </div>
    </div>
</nav>
