<section class="c-hero text-center mb-40">
    <h1 class="c-hero-title">
      <span>Cesar Huesca</span><br>
      <span class="c-hero-subtitle">Web Developer</span><br>
    </h1>
    <p class="c-hero-description">Desarrollador web full-stack. Enfocado en la creación de aplicaciones web modernas, eficientes y escalables.</p>
    <p class="c-hero-description-2">Motivado en aprender constantemente, afrontar nuevos retos y participar en proyectos donde el software tenga un impacto real.</p>
    <div class="c-hero-availability">
      <span class="c-hero-pin">
          <span class="c-hero-pin-effect"></span>
          <span class="c-hero-bullet "></span>
      </span>
      <p>Disponible para nuevos proyectos</p>
    </div>

    <div class="c-hero-button-container ">
        <button type="button" class="c-hero-button-contact">Contactar</button>
    </div>
</section>
