<section class="c-hero text-center mb-40">
    <h1 class="c-hero-title">
      <span>{{'hero.name' | translate}}</span><br>
      <span class="c-hero-subtitle">{{'hero.job' | translate}}</span><br>
    </h1>
    <p class="c-hero-description">{{'hero.description-1' | translate}}.</p>
    <p class="c-hero-description-2">{{'hero.description-2' | translate}}.</p>
    <div class="c-hero-availability">
      <span class="c-hero-pin">
          <span class="c-hero-pin-effect"></span>
          <span class="c-hero-bullet "></span>
      </span>
      <p>{{'hero.available' | translate}}</p>
    </div>

    <div class="c-hero-button-container ">
        <button type="button" class="c-hero-button-contact">{{'hero.contact' | translate}}</button>
    </div>
</section>
