<section class="c-hero" pAnimateOnScroll enterClass="c-component-fadeIn" threshold="0.2" once="true">
  <a class="c-hero-photo" href="https://linkedin.com/in/cesarhuesca-dev" target="_blank">
    <div class="c-hero-photo-glow"></div>
    <div class="c-hero-photo-pulse"></div>
    <div class="c-hero-photo-container">
      <img [ngSrc]="'/assets/brand/chdev-foto-pefil.png'" width="500" height="500" priority alt="Foto Perfil"/>
    </div>
  </a>
  <h1 class="c-hero-title">
    <span>{{'hero.name' | translate}}</span><br>
    <span class="c-hero-subtitle">{{'hero.job' | translate}}</span><br>
  </h1>
  <p class="c-hero-description">{{'hero.description-1' | translate}}.</p>
  <p class="c-hero-description-2">{{'hero.description-2' | translate}}.</p>
  <div class="c-hero-availability">
    <span class="c-hero-pin">
        <span class="c-hero-pin-effect"></span>
        <span class="c-hero-bullet "></span>
    </span>
    <p>{{'hero.available' | translate}}</p>
  </div>

  <div class="c-hero-button-container ">
      <button type="button" class="c-hero-button-contact">{{'hero.contact' | translate}}</button>
  </div>
</section>
