<section class="c-projects" pAnimateOnScroll enterClass="c-component-fadeIn" threshold="0.2" once="true">

  <div class="c-projects-title">
    <h1 class="c-projects-title-text">{{'projects.title' | translate}}</h1>
    <div class="c-projects-title-blur"></div>
  </div>
  <div class="c-projects-container">
    @for (item of projects; let i = $index ; track item.id) {
      <div class="c-projects-item">
        <div class="c-projects-item-body">
          <div class="c-projects-item-header">
              <span class="c-projects-item-header-status c-projects-item-header-status-box {{item.statusClass}}">{{item.status | translate}}</span>
          </div>

          @if (item.banner) {
            <div class="c-projects-item-img">
              <!-- <img [ngSrc]="'/assets/img/' + item.banner" width="400" height="100" priority /> -->
              <p-image [src]="'/assets/img/' + item.banner" alt="Image" width="400"  [preview]="true" appendTo="body" />
            </div>
          }


          <div class="c-projects-item-content">
            <h4 class="c-projects-item-content-title">{{item.name | translate}}</h4>
            <p class="c-projects-item-content-description ">{{item.description | translate}}.</p>
          </div>

          @if(item.repo){
            <button type="button" class="c-projects-item-footer" (click)="goToGithub(item.repo)">
              <span class="c-projects-item-footer-title">{{'projects.github' | translate}}</span>
              <svg class="c-projects-item-footer-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
              </svg>
            </button>
          }

        </div>
      </div>
    }
  </div>
</section>
