<section class="c-skills">

  <div class="c-skills-title">
    <h1 class="c-skills-title-text">Habilidades técnicas</h1>
    <div class="c-skills-title-blur"></div>
  </div>
  <div class="c-skills-content">

    <div class="c-skills-container">
      <div class="c-skills-item c-skills-item-float" (click)="openWindow('https://angular.dev/')">
        <img [src]="'assets/logos/angular.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:1s" (click)="openWindow('https://tailwindcss.com/')">
        <img [src]="'assets/logos/tailwind.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:2s" (click)="openWindow('https://nestjs.com/')">
        <img [src]="'assets/logos/nestjs.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:3s" (click)="openWindow('https://nodejs.org/')">
        <img [src]="'assets/logos/nodejs.svg'" class="c-skills-item-img">
      </div>
    </div>
    <div class="c-skills-container">
      <div class="c-skills-item c-skills-item-float">
        <img [src]="'assets/logos/postgresql.svg'" class="c-skills-item-img" (click)="openWindow('https://www.postgresql.org/')">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:1s" (click)="openWindow('https://sqlite.org/')">
        <img [src]="'assets/logos/sqlite.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:2s" (click)="openWindow('https://typeorm.io/')">
        <img [src]="'assets/logos/typeorm.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:3s" (click)="openWindow('https://www.docker.com/')">
        <img [src]="'assets/logos/docker.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:4s" (click)="openWindow('https://socket.io/')">
        <img [src]="'assets/logos/socketio.svg'" class="c-skills-item-img">
      </div>
    </div>
    <div class="c-skills-container">
      <div class="c-skills-item c-skills-item-float">
        <img [src]="'assets/logos/swagger.svg'" class="c-skills-item-img" (click)="openWindow('https://swagger.io/')">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:1s" (click)="openWindow('https://tanstack.com/')">
        <img [src]="'assets/logos/tanstack.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:2s" (click)="openWindow('https://www.jenkins.io/')">
        <img [src]="'assets/logos/jenkins.svg'" class="c-skills-item-img">
      </div>
      <div class="c-skills-item c-skills-item-float" style="animation-delay:3s" (click)="openWindow('https://www.postman.com/')">
        <img [src]="'assets/logos/postman.svg'" class="c-skills-item-img">
      </div>
    </div>

  </div>
</section>
