<section class="c-experience">

  <div class="c-experience-title">
    <h1 class="c-experience-title-text">{{'experience.title' | translate}}</h1>
    <div class="c-experience-title-blur"></div>
  </div>
  <div class="c-experience-container">

    <article class="c-experience-item group">

      <div class="c-projects-item-body">

        <div>
          <div class="c-projects-item-logo-container " (click)="openWindow('https://www.indragroup.com/es')">
            <img src='assets/logos/indra.svg'>
          </div>
        </div>

        <div class="c-projects-item-content">

          <div class="c-projects-item-content-header">
            <div>
              <h3 class="c-projects-item-content-job">{{'experience.job-1.title' | translate}}</h3>
              <p class="c-projects-item-content-company">{{'experience.job-1.company' | translate}}</p>
            </div>

            <span class="c-projects-item-content-time">{{'experience.job-1.time' | translate}}</span>
          </div>

          <p class="c-projects-item-content-description">{{'experience.job-1.description' | translate}}.</p>

          <ul class="c-projects-item-content-skills">
            <li class="c-projects-item-chip" (click)="openWindow('https://angular.dev/')">
              <span>{{'technology.angular' | translate}}</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://primeng.org/')">
              <span>{{'technology.primeng' | translate}}</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://dhtmlx.com/')">
              <span>{{'technology.dhtmlx' | translate}}</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://leafletjs.com/')">
              <span>{{'technology.leaflet' | translate}}</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://learn.microsoft.com/es-es/dotnet/framework/get-started/')">
              <span>{{'technology.net' | translate}}</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://www.postgresql.org/')">
              <span>{{'technology.postgresql' | translate}}</span>
            </li>
          </ul>

        </div>
      </div>
    </article>
  </div>
</section>
