<section class="c-experience">

  <div class="c-experience-title">
    <h1 class="c-experience-title-text">Experiencia</h1>
    <div class="c-experience-title-blur"></div>
  </div>
  <div class="c-experience-container">

    <article class="c-experience-item group">

      <div class="c-projects-item-body">

        <div>
          <div class="c-projects-item-logo-container " (click)="openWindow('https://www.indragroup.com/es')">
            <img src='assets/logos/indra.svg'>
          </div>
        </div>

        <div class="c-projects-item-content">

          <div class="c-projects-item-content-header">
            <div>
              <h3 class="c-projects-item-content-job">Desarrollador Web</h3>
              <p class="c-projects-item-content-company">Indra Sistemas Espacio</p>
            </div>

            <span class="c-projects-item-content-time">Marzo 2023 - Presente</span>
          </div>

          <p class="c-projects-item-content-description">Desarrollador de web en el proyecto Genius del área de Espacio/Defensa en Indra. Trabajo con Angular y TypeScript en el desarrollo front-end, con librerías como PrimeNG, DHTMLX y Leaflet.js. También participo en tareas back-end con .NET, con Redis y Postgresql, y para cordinacion de equipos utilizando herramientas como Git, JIRA.</p>

          <ul class="c-projects-item-content-skills">
            <li class="c-projects-item-chip" (click)="openWindow('https://angular.dev/')">
              <span>Angular</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://primeng.org/')">
              <span>PrimeNg</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://dhtmlx.com/')">
              <span>DHTMLX</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://leafletjs.com/')">
              <span>Leaflet.js</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://learn.microsoft.com/es-es/dotnet/framework/get-started/')">
              <span>.NET</span>
            </li>
            <li class="c-projects-item-chip" (click)="openWindow('https://www.postgresql.org/')">
              <span>Postgresql</span>
            </li>
          </ul>

        </div>
      </div>
    </article>
  </div>
</section>
