<!-- eslint-disable @angular-eslint/template/prefer-ngsrc -->
<section class="c-experience" pAnimateOnScroll enterClass="c-component-fadeIn" threshold="0.2" once="true">

  <div class="c-experience-title">
    <h1 class="c-experience-title-text">{{'experience.title' | translate}}</h1>
    <div class="c-experience-title-blur"></div>
  </div>
  <div class="c-experience-container">

    <article class="c-experience-item group">

      <div class="c-projects-item-body">

        <div>
          <button type="button" class="c-projects-item-logo-container " (click)="openWindow('https://www.indragroup.com/es')">
            <img src='assets/logos/indra.svg' alt="Indra Logo">
          </button>
        </div>

        <div class="c-projects-item-content">

          <div class="c-projects-item-content-header">
            <div>
              <h3 class="c-projects-item-content-job">{{'experience.job-1.title' | translate}}</h3>
              <p class="c-projects-item-content-company">{{'experience.job-1.company' | translate}}</p>
            </div>

            <span class="c-projects-item-content-time">{{'experience.job-1.time' | translate}}</span>
          </div>

          <p class="c-projects-item-content-description">{{'experience.job-1.description' | translate}}.</p>

          <ul class="c-projects-item-content-skills">
            <li class="c-projects-item-chip">
              <a href="https://angular.dev/" target="_blank" rel="noopener noreferrer">{{'technology.angular' | translate}}</a>
            </li>
            <li class="c-projects-item-chip">
              <a href="https://primeng.org/" target="_blank" rel="noopener noreferrer">{{'technology.primeng' | translate}}</a>
            </li>
            <li class="c-projects-item-chip">
              <a href="https://dhtmlx.com/" target="_blank" rel="noopener noreferrer">{{'technology.dhtmlx' | translate}}</a>
            </li>
            <li class="c-projects-item-chip">
              <a href="https://leafletjs.com/" target="_blank" rel="noopener noreferrer">{{'technology.leaflet' | translate}}</a>
            </li>
            <li class="c-projects-item-chip">
              <a href="https://learn.microsoft.com/es-es/dotnet/framework/get-started/" target="_blank" rel="noopener noreferrer">{{'technology.net' | translate}}</a>
            </li>
            <li class="c-projects-item-chip">
              <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">{{'technology.postgresql' | translate}}</a>
            </li>
          </ul>

        </div>
      </div>
    </article>
  </div>
</section>
